@media print {
    body * {
        visibility: hidden;
    }
    .certificate, .certificate * {
        visibility: visible;
    }
    .certificate {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 15mm;
        page-break-after: always;
        box-shadow: none;
        border: none;
    }
    .d-print-none {
        display: none !important;
    }
    .navbar, .breadcrumb, form, .btn, footer {
        display: none !important;
    }
}
